DEBUG=True
SECRET_KEY=django-insecure-change-me
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,84.8.221.206
CSRF_TRUSTED_ORIGINS=http://localhost:8024,http://127.0.0.1:8024,http://84.8.221.206:8024

DB_ENGINE=django.db.backends.mysql
DB_NAME=medibook_db
DB_USER=medibook_user
DB_PASSWORD=medibook_pass_2026
DB_HOST=db
DB_PORT=3306

MYSQL_ROOT_PASSWORD=root_pass_2026
SEED_DATA=true

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@medibook.local

SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_SSL_REDIRECT=False
SECURE_HSTS_SECONDS=0
