Django==5.0.6
PyMySQL==1.1.0
cryptography==42.0.8
python-decouple==3.8
Pillow==10.3.0
scikit-learn==1.5.0
numpy==1.26.4
gunicorn==22.0.0
whitenoise==6.6.0
django-crispy-forms==2.1
crispy-bootstrap5==2024.2