{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="mb-card mb-4"><h3 class="mb-3">Mes rendez-vous</h3><form method="get" class="row g-3 align-items-end"><div class="col-md-3">{{ filter_form.status|as_crispy_field }}</div><div class="col-md-3">{{ filter_form.date_from|as_crispy_field }}</div><div class="col-md-3">{{ filter_form.date_to|as_crispy_field }}</div><div class="col-md-3"><button class="btn btn-mb-primary w-100">Filtrer</button></div></form></div>
<div class="mb-card">{% include 'appointments/_appointment_table.html' with appointments=appointments %}</div>
{% endblock %}
